{
  "strava" : {
    "authorize_uri":"https://www.strava.com/oauth/authorize",
    "token_uri":"https://www.strava.com/oauth/token",
    "upload_uri":"https://www.strava.com/api/v3/uploads",
    "authorize_redirect_uri":"localhost:3000/authorize",
    "client_id":"xxxx",
    "client_secret":"xxxx",
    "secret":"xxxx",
    "activities_url":"https://www.strava.com/athletes/",
    "athletes_url":"https://www.strava.com/activities/"
  },
  "strava-scraper" : {
    "url":"https://xxx"
  }
}
